= form_for @invite do |f|
  = f.hidden_field :property_id, :value => @invite.property_id
  = f.label :email
  = f.email_field :email
  = f.submit 'Invite Tenant'

%FORM
  %INPUT{:Type => "button", :VALUE => "Back", :onClick => "history.go(-1);return true;"}/
