%h1.headline Welcome!
%h2.welcome Aren't you glad your landlord uses Kito?

=form_for @tenant do |f|
  %ol
    %li=f.text_field :name, placeholder: 'Name'
    %li= f.email_field :email, placeholder: 'Email'
    %li= f.password_field :password, placeholder: 'Password'
    %li= f.password_field :password_confirmation, placeholder: 'Password'
    %li= f.hidden_field :token, value: @token
    %li= f.submit
