/ .modal
/   %h3 Invite a Tenant!
/   .invite-tenant-modal
/     =render 'invites/new'

%h1 Your Dashboard
%section.main-objects
  %a.payments{href: invoices_path}
    %span.number #{@user.unpaid_invoices.length} 
    %span.description Payments waiting
  %a.service{href: tickets_path}
    %span.number #{@user.open_requests.length}
    %span.description Service requests
  %a.agreements{href: 'signatures/index'}
    %span.number #{@user.active_contracts.length}
    %span.description Active contracts
%section.secondary-objects
  %div.card.properties
    %h2 Properties
    %table
      %tr
        %th Property
        %th Tenant
        %th Paid?
        %th Status
      -@user.properties.each_with_index do |property,i|
        %tr{class: ( i % 2 != 0 ? nil : 'odd')}
          %td= link_to property.name, property_path(property)
          - if property.active_occupancy?
            %td= property.active_occupancy.tenant.name
            %td{class: (property.active_occupancy.paid? ? 'paid' : 'unpaid')}
            -unless property.active_occupancy.open_requests.empty?
              - count = property.active_occupancy.open_requests.length
              %td.bad #{count} service request#{count == 1 ? '' : 's'}
            -else
              %td.good All clear!
          - else
            %td= link_to 'Add', new_invite_path(property), class: 'button invite-tenant'
            %td -
            %td -
    = link_to 'Add Property', new_property_path, class: 'button', id: 'add_property'


  %div.card.tickets
    %h2 Service Requests
    %table
      %tr
        %th Property
        %th Issue
        %th Status
      =render 'tickets/ticket_row'

    
