%h1 Welcome, Landlord!

%table
  %tr
    %th Name
    %th Show
    %th Edit
    %th Delete
  - @user.properties.each do |p|
    %tr
      %td= p.name
      %td= link_to 'Show Property', property_path(p)
      %td= link_to 'Edit Property', edit_property_path(p)
      %td= link_to 'Delete Property', p, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Create Property', new_property_path
