%h1 Welcome, #{current_user.name}!

%section.main-objects
  %a.small.payments{href: invoices_path}
    -if @user.unpaid_invoices.length > 0
      %span.number #{@user.unpaid_invoices.length}
      %span.description Payment Due
    -else
      %span.description.good All Clear!

  %a.small.service{href: new_ticket_path}
    / %span.number #{@user.open_requests.length}
    %span.description New Service Request
  %a.small.agreements
    %span.number
    %span.description My Contract
%section.secondary-objects
  %div.card.payments
    %h2 Payment History
    %table
      %tr
        %th Month
        %th Ammount
        %th Paid?
      - current_user.invoices.each_with_index do |invoice, i|
        %tr{class: ( i % 2 != 0 ? nil : 'odd')}
          %td= invoice.duedate.strftime("%B %Y")
          %td= invoice.amount_string
          %td{class: (invoice.paid? ? 'paid' : 'unpaid')} 
  %div.card.tickets.tenant
    %h2 Service Requests
    %table
      %tr
        %th Issue
        %th Status
      - current_user.tickets.each_with_index do |ticket, i|
        %tr.click_row{class: ( i % 2 != 0 ? nil : 'odd')}
          %td.description
            %a{href: ticket_path(ticket)}
              %h3= ticket.title
            %p= link_to ticket.description, ticket_path(ticket)
          %td
            -if ticket.status
              %div.status.bad Open
            -else
              %div.status.good Closed
            %a.comments{href: ticket_path(ticket)}= ticket.comments.count
-unless current_user.contracts.where(signed: false).empty?
  #hello_sign_request{style: 'display: none'}= current_user.contracts.where(signed: false).first.sign_url


