%h1.headline Welcome back!
= form_tag sessions_path, class: 'main_form' do 
  %ol
    %li
      = email_field_tag :email, '', placeholder: 'Email', class: 'form_input'
    %li
      = password_field_tag :password, '', placeholder: 'Password', class: 'form_input'
    %li
      %div.user-select
        %span.radio
          = label_tag :landlord 
          = radio_button_tag :user_type, :landlord
        %span.radio
          = label_tag :tenant 
          = radio_button_tag :user_type, :tenant
    %li
      = submit_tag  'Log in'
  = link_to 'Sign up', :signup, class: 'button'
