= form_tag sessions_path do 
  = label_tag 'email'
  = text_field_tag :email
  %br
  = label_tag :password
  = password_field_tag :password
  %br
  = label_tag :landlord 
  = radio_button_tag :user_type, :landlord
  = label_tag :tenant 
  = radio_button_tag :user_type, :tenant
  %br
  = submit_tag  'Log in'
  = link_to 'Sign up', :signup
