= form_tag signatures_path, method: :post do
  = label_tag 'Landlord'
  = text_field_tag :name
  = label_tag 'Landlord Email'
  = text_field_tag :email
  -# = label_tag 'Tenant'
  -# = text_field_tag :name
  -# = label_tag 'Tenant Email'
  -# = text_field_tag :email
  = submit_tag 'Create Embedded Signature Request'
