= form_for @property do |f|
  = f.label :name, 'Name:'
  %br
  = f.text_field :name
  %br
  = f.label :address1, 'Address 1:'
  %br
  = f.text_field :address1
  %br
  = f.label :address2, 'Address 2:'
  %br
  = f.text_field :address2
  %br
  = f.label :city, 'City:'
  %br
  = f.text_field :city
  %br
  = f.label :state, 'State:'
  %br
  = f.text_field :state
  %br
  = f.label :zip, 'Zip:'
  %br
  = f.text_field :zip
  = f.submit 'Update Property'
  =f.submit current_user ? 'Update Property' : 'Sign Up'
