%h1.headline New Property
= form_for @property do |f|
  %ol
    %li= f.text_field :name, placeholder: 'Name'
    %li= f.text_field :address1, placeholder: 'Address 1'
    %li= f.text_field :address2, placeholder: 'Address 2'
    %li= f.text_field :city, placeholder: 'City'
    %li= f.text_field :state, placeholder: 'State'
    %li= f.text_field :zip, placeholder: 'Zip'
    %li= f.submit 'Create Property'

%FORM
  %INPUT{:Type => "button", :VALUE => "Back", :onClick => "history.go(-1);return true;"}/
