%h1 Show Property
%p 
 Name:
 \#{@property.name}
%p  
 Address 1:
 \#{@property.address1}
%p
 Address 2:
 \#{@property.address2}
%p
 City:
 \#{@property.city}
%p 
 State:
 \#{@property.state}
%p
 Zip:
 \#{@property.zip}

 =link_to 'Edit', edit_property_path(@property)
 =link_to 'Back', dashboard_path
