%h1 New Ticket
%p Find me in app/views/tickets/new.html.haml

= form_for @ticket do |f|
  = f.label :title, 'Title:'
  %br
  = f.text_field :title
  %br
  = f.label :description, 'Description:'
  %br
  = f.text_field :description
  %br
  = f.submit 'Create Ticket'
