= form_for @landlord do |f|
  %ol
    %li= f.text_field :name, placeholder: 'Name'
    %li= f.email_field :email, placeholder: 'Email'
    %li= f.password_field :password, placeholder: 'Password'
    %li= f.password_field :password_confirmation, placeholder: 'Confirm Password'
  = f.submit @landlord.id ? 'Update Landlord' : 'Sign Up'
